.banner {
  background-image: url(https://66.media.tumblr.com/7ed1f7ba3cba8899d32d7c3951d472a9/tumblr_pth3xcBFyQ1xxlfdno3_500.gifv);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  font-size:48px;
  color: white;
  text-shadow: 0, 0, 1, 1
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
  margin-bottom:40px;
}
